<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddEmpServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLongServiceServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetLongServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNumFemaleEmpsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetNumFemaleEmpsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNumMaleEmpsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetNumMaleEmpsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetYoungestEmpServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetYoungestEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvgAgeEmpsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAvgAgeEmpsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmpServlet</servlet-name>
        <url-pattern>/AddEmpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLongServiceServlet</servlet-name>
        <url-pattern>/GetLongServiceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNumFemaleEmpsServlet</servlet-name>
        <url-pattern>/GetNumFemaleEmpsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNumMaleEmpsServlet</servlet-name>
        <url-pattern>/GetNumMaleEmpsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetYoungestEmpServlet</servlet-name>
        <url-pattern>/GetYoungestEmpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvgAgeEmpsServlet</servlet-name>
        <url-pattern>/GetAvgAgeEmpsServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
